## Name: Margaret Nguyen

# Project Overview: Merging Pennsylvania Crash Data and ACS Data (2017-2021) for Comprehensive Crash Analysis, Emphasizing Cyclist and Pedestrian Incidents

**In this coding project, my primary objective is to merge and analyze Pennsylvania Crash Data and American Community Survey (ACS) Data from 2017 to 2021. Our goal is to provide a comprehensive summary of crash-related statistics in Pennsylvania, with a particular emphasis on incidents involving cyclists and pedestrians.**

- **To access Pennsylvania Crash Data, please use the [following link](https://pennshare.maps.arcgis.com/apps/webappviewer/index.html?id=8fdbf046e36e41649bbfd9d7dd7c7e7e).**

- **To obtain the PennDOT Open Data Portal Crash Data Dictionary, you can use the [link provided](https://gis.penndot.gov/gishub/crashZip/Crash%20Data%20Dictionary%2005.2023.pdf).**

- **For Pennsylvania County Subdivisions' FIPS Codes, you can find the information you need by visiting [this link](https://www.census.gov/library/reference/code-lists/ansi.html?fbclid=IwAR1b-UWLTp4zubFr2wEtSGI7itPJxB_q9q-XILE5GEHDYxxe8XswIK1EmBg).**

- **To obtain Pennsylvania Municipal Statistics Data, you can access it through [this link](https://munstats.pa.gov/Reports/ReportInformation2.aspx?report=CountyMuniDemo_Excel).**

- **To access the Census API discovery tool, please use the following link: [Census API Discovery Tool](https://www.census.gov/data/developers/updates/new-discovery-tool.html).**

### Credit: 
**The following code presented here is built upon the work of my supervisor, Mitch Shiles. You can access the original code by following this link: [Mitch Shiles' GitHub](https://github.com/rmshiles/Carlisle-Local-Crash-Analysis/blob/main/1.%20Municupal%20Crash%20Data%20Aggregation%20.ipynb). I have made some adjustments to streamline and improve the code, aligning it with our specific usage requirements. I obtained permission from my supervisor to review and utilize his code for this internship project.**

# I. Query ACS Data

In [260]:
# Import necessary libraries
import requests # v 2.28.1 
from pathlib import Path
import warnings # v 1.0.1

# Import data handling libraries
import numpy as np # v 1.21.5 
import pandas as pd # v 1.4.4 

# Import graphing libraries
import matplotlib.pyplot as plt # v 3.5.2  
import matplotlib.colors as mcolors # v 3.5.2  

# Display settings for Jupyter Notebook
from IPython.display import display, HTML # v 7.31.1
display(HTML("<style>.container { width:100% !important; }</style>"))

In [261]:
# Set Pandas display options for better visibility of data
pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.options.display.float_format = '{:,.6f}'.format

In [217]:
# Set Global Variables: the time period in which to look at 
START_YEAR = 2017
END_YEAR = 2021

In [218]:
# Query ACS data for Municipalities 

# Census API
HOST = 'https://api.census.gov/data'

# Year to get data for 
YEAR = '{}'.format(END_YEAR)# 2005,2010,2015,2020  

# Survey to Access data from (ACS 5 year estimates)
DATA_SET = 'acs/acs5'
BASE_URL = '/'.join([HOST, YEAR, DATA_SET])

# Create an empty dictionary for predicates 
predicates = {}

# VARIABLES
# Population Estimate:  B01003_001E
# Population Margin of error: B01003_001M
# Bike to work Estimate: B08006_014E
# Bike to work Margin of error: B08006_014M
# Walk to work Estimate:B08006_015E
# Walk to work Margin of error:B08006_015M
# Drive to work alone Estimate: B08006_003E
# Drive to work alone Margin of error: B08006_003M
# Carpool to work Estimate:B08006_004E
# Carpool to work Margin: 
# Public transit to work Estimate: B08006_008E
# Public transit to work Margine of Error: B08006_008E
# Other to Work 
# Poverty Estimate:
# Poverty Margin of error:

get_vars = ['NAME',
            'B01001_001E',
            'B08006_014E',
            'B08006_014M',
            'B08006_015E',
            'B08006_015M',
            'B08006_003E',
            'B08006_003M',
            'B08006_004E',
            'B08006_004M',
            'B08006_008E',
            'B08006_008M']

predicates['get'] = ','.join(get_vars)

# Set sub geographies to get data for ('county','Place','county subdivision') * means get all 
predicates['for'] = 'county subdivision:*'

# Set geography that contains sub geographies (42=Pennslyvania )
predicates['in'] = 'state:42'

# Assemble the API query 
r = requests.get(BASE_URL, params = predicates)

# Print the query URL 
print(BASE_URL,predicates)

https://api.census.gov/data/2021/acs/acs5 {'get': 'NAME,B01001_001E,B08006_014E,B08006_014M,B08006_015E,B08006_015M,B08006_003E,B08006_003M,B08006_004E,B08006_004M,B08006_008E,B08006_008M', 'for': 'county subdivision:*', 'in': 'state:42'}

In [219]:
# Place the Queried ACS data into a data frame 

# Set the column names to the first row of data from the query 
column_names = r.json()[0:1][0]

# Set the data to everything after the first row and convert to an array to flatten it
ACS_DATA= r.json()[1:]
ACS_data = np.array(ACS_DATA)

# Create the pandas data frame 
ACS_MUNI_DF = pd.DataFrame(columns=column_names , data=ACS_data)

# Reset the index of the data frame
ACS_MUNI_DF.reset_index()

# Rename the columns 
ACS_MUNI_DF.rename(columns ={"B01001_001E":"POPULATION",
                    "B08006_014E":'BIKE_TO_WORK_EST',
                    "B08006_014M":"BIKE_TO_WORK_MARG",
                    "B08006_015E":"WALK_TO_WORK_EST",
                    "B08006_015M":"WALK_TO_WORK_MARG",
                    'B08006_003E':"DRIVE_SOLO_TO_WORK_EST",
                    'B08006_003M':"DRIVE_SOLO_TO_WORK_MARG",
                    'B08006_004E':"CARPOOL_TO_WORK_EST",
                    'B08006_004M':"CARPOOL_TO_WORK_MARG",
                    'B08006_008E':"PUBTRANS_TO_WORK_EST",
                    'B08006_008M':"PUBTRANS_TO_WORK_MARG",
                    "county subdivision":"county_subdivision"}, inplace=True)

# Convert the NAME column to strings 
ACS_MUNI_DF['NAME'] = ACS_MUNI_DF["NAME"].astype(str)

# Remove Massachusetts from NAME This is over redundant since all data will be from Massachusetts
ACS_MUNI_DF['NAME'] = ACS_MUNI_DF.NAME.replace({', Pennsylvania':''}, regex=True)

# Create separate Name variables for county and municipality 
ACS_MUNI_DF[['MUNI_NAME','COUNTY_NAME']]=ACS_MUNI_DF['NAME'].str.split(',',expand=True)

# Convert the variables to integers
ACS_MUNI_DF[["POPULATION",
                "BIKE_TO_WORK_EST",
                "BIKE_TO_WORK_MARG",
                "WALK_TO_WORK_EST",
                "WALK_TO_WORK_MARG",
                "DRIVE_SOLO_TO_WORK_EST",
                "DRIVE_SOLO_TO_WORK_MARG",
                "CARPOOL_TO_WORK_EST",
                "CARPOOL_TO_WORK_MARG",
                "PUBTRANS_TO_WORK_EST",
                "PUBTRANS_TO_WORK_MARG",
                "state",                 
                "county",                
                "county_subdivision"]] = ACS_MUNI_DF[["POPULATION",
                                            "BIKE_TO_WORK_EST",
                                            "BIKE_TO_WORK_MARG",
                                            "WALK_TO_WORK_EST",
                                            "WALK_TO_WORK_MARG",
                                            "DRIVE_SOLO_TO_WORK_EST",
                                            "DRIVE_SOLO_TO_WORK_MARG",
                                            "CARPOOL_TO_WORK_EST",
                                            "CARPOOL_TO_WORK_MARG",
                                            "PUBTRANS_TO_WORK_EST",
                                            "PUBTRANS_TO_WORK_MARG",
                                            "state",                 
                                            "county",                
                                            "county_subdivision"]].astype(int)

# Show the length of an object referred to the dataframe
print(len(ACS_MUNI_DF))

# Show the dataframe
ACS_MUNI_DF.head(3)

2573

                                 NAME  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  state  county  county_subdivision             MUNI_NAME    COUNTY_NAME
0   Abbottstown borough, Adams County         857                 7                 11                 6                  8                     355                       60                   43                    22                     0                     11     42       1                 116   Abbottstown borough   Adams County
1  Arendtsville borough, Adams County         720                 0                 11                 4                  9                     301                       92                   41                    33                     0                     11     42       1                2928  Arendtsville borough   Adams County
2  Bendersville borough, Adams County         672                 0                 11                 4                  5                     305                       97                    6                     9                     0                     11     42       1                5536  Bendersville borough   Adams County

# II. Data Cleaning

## A. PennDOT's Counties Numbers and Names DataFrame

In [220]:
# Create a dictionary for PennDOT's County Numbers and Names
PENNDOT_COUNTY = {
    "PENN_DOT_COUNTY_NUM": [
        "1", "2", "3", "4", "5", "6", "7", "8", "9", "10",
        "11", "12", "13", "14", "15", "16", "17", "18", "19", "20",
        "21", "22", "23", "24", "25", "26", "27", "28", "29", "30",
        "31", "32", "33", "34", "35", "36", "37", "38", "39", "40",
        "41", "42", "43", "44", "45", "46", "47", "48", "49", "50",
        "51", "52", "53", "54", "55", "56", "57", "58", "59", "60",
        "61", "62", "63", "64", "65", "66", "67"
    ],
    "PENN_DOT_COUNTY_NAME": [
        "ADAMS", "ALLEGHENY", "ARMSTRONG", "BEAVER", "BEDFORD",
        "BERKS", "BLAIR", "BRADFORD", "BUCKS", "BUTLER",
        "CAMBRIA", "CAMERON", "CARBON", "CENTRE", "CHESTER",
        "CLARION", "CLEARFIELD", "CLINTON", "COLUMBIA", "CRAWFORD",
        "CUMBERLAND", "DAUPHIN", "DELAWARE", "ELK", "ERIE",
        "FAYETTE", "FOREST", "FRANKLIN", "FULTON", "GREENE",
        "HUNTINGDON", "INDIANA", "JEFFERSON", "JUNIATA", "LACKAWANNA",
        "LANCASTER", "LAWRENCE", "LEBANON", "LEHIGH", "LUZERNE",
        "LYCOMING", "MCKEAN", "MERCER", "MIFFLIN", "MONROE", "MONTGOMERY",
        "MONTOUR", "NORTHAMPTON", "NORTHUMBERLAND", "PERRY", "PIKE",
        "POTTER", "SCHUYLKILL", "SNYDER", "SOMERSET", "SULLIVAN",
        "SUSQUEHANNA", "TIOGA", "UNION", "VENANGO", "WARREN", "WASHINGTON",
        "WAYNE", "WESTMORELAND", "WYOMING", "YORK", "PHILADELPHIA"
    ]
}

# Create a dataframe
PENNDOT_COUNTY_DF = pd.DataFrame(PENNDOT_COUNTY)

# Add county into the name
PENNDOT_COUNTY_DF['PENN_DOT_COUNTY_NAME'] = PENNDOT_COUNTY_DF['PENN_DOT_COUNTY_NAME'] +" COUNTY"

# Remove white space at beginning and end of Penn county lables 
PENNDOT_COUNTY_DF['PENN_DOT_COUNTY_NAME'] = PENNDOT_COUNTY_DF['PENN_DOT_COUNTY_NAME'].str.strip()

# Convert to int
PENNDOT_COUNTY_DF["PENN_DOT_COUNTY_NUM"] = PENNDOT_COUNTY_DF["PENN_DOT_COUNTY_NUM"].astype(int)

# View dataframe
PENNDOT_COUNTY_DF.head()

   PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME
0                    1         ADAMS COUNTY
1                    2     ALLEGHENY COUNTY
2                    3     ARMSTRONG COUNTY
3                    4        BEAVER COUNTY
4                    5       BEDFORD COUNTY

## B. Pennsylvania Municipal Statistics DataFrame

In [221]:
# Import PennDOT Municipal IDs originally obtained from the data dictionary
Muni_GOV_STATS = pd.read_csv('/Users/margaret06/Documents/GitHub/Carlisle_Borough_Transportation_Study/data/CountyMuniDemo_Excel.csv')

# View Dataframe
Muni_GOV_STATS.head(3)

  COUNTY_NAME  textbox5  MUNICIPALITY_NAME  CENSUS_POPULATION  LAND_AREA  FEDERAL_EIN_CODE HOME_RULE_CODE HOME_RULE_NAME  HOME_RULE_YEAR GOVERNMENTAL_FORM  EMPLOYEES_FULL_TIME  EMPLOYEES_PART_TIME  INCORPORATION_YEAR
0       ADAMS     10033   ABBOTTSTOWN BORO               1022   0.600000         236050408            NaN            NaN             NaN               NaN             1.000000            10.000000        1,835.000000
1       ADAMS     10001       ADAMS COUNTY             103852 522.200000         236003030            NaN            NaN             NaN               NaN           463.000000            47.000000                 NaN
2       ADAMS     10063  ARENDTSVILLE BORO                867   0.800000         231603459            NaN            NaN             NaN               NaN             3.000000             2.000000        1,896.000000

In [222]:
# Clean dataframe
Muni_GOV_STATS['MUNICIPALITY_NAME'] = Muni_GOV_STATS['MUNICIPALITY_NAME'].replace({" BORO":" BOROUGH",
                                                                                   " TWP":" TOWNSHIP"},regex=True)
# Add county into the name for the consistency
Muni_GOV_STATS['COUNTY_NAME'] = Muni_GOV_STATS['COUNTY_NAME'] +" COUNTY"

# Print the len and view dataframe
print(len(Muni_GOV_STATS))
Muni_GOV_STATS.head()

2635

    COUNTY_NAME  textbox5     MUNICIPALITY_NAME  CENSUS_POPULATION  LAND_AREA  FEDERAL_EIN_CODE HOME_RULE_CODE HOME_RULE_NAME  HOME_RULE_YEAR GOVERNMENTAL_FORM  EMPLOYEES_FULL_TIME  EMPLOYEES_PART_TIME  INCORPORATION_YEAR
0  ADAMS COUNTY     10033   ABBOTTSTOWN BOROUGH               1022   0.600000         236050408            NaN            NaN             NaN               NaN             1.000000            10.000000        1,835.000000
1  ADAMS COUNTY     10001          ADAMS COUNTY             103852 522.200000         236003030            NaN            NaN             NaN               NaN           463.000000            47.000000                 NaN
2  ADAMS COUNTY     10063  ARENDTSVILLE BOROUGH                867   0.800000         231603459            NaN            NaN             NaN               NaN             3.000000             2.000000        1,896.000000
3  ADAMS COUNTY     10093  BENDERSVILLE BOROUGH                736   0.500000         237447802            NaN            NaN             NaN               NaN             0.000000            19.000000        1,866.000000
4  ADAMS COUNTY     10125      BERWICK TOWNSHIP               2403   7.700000         232030284            NaN            NaN             NaN               NaN             4.000000             0.000000        1,800.000000

## C. PennDOT's Municipalities Numbers and Names DataFrame

In [223]:
# Import dataframe
PENNDOT_MUNI_DF = pd.read_excel('/Users/margaret06/Documents/GitHub/Carlisle_Borough_Transportation_Study/data/Municipalities_PennDOT.xlsx')

In [224]:
# Clean dataframe
PENNDOT_MUNI_DF["PENN_DOT_MUNI_ID"] = PENNDOT_MUNI_DF["MUNICIPALITIES"].str.split('-').str[0]
PENNDOT_MUNI_DF["PENN_DOT_MUNI_NAME"] = PENNDOT_MUNI_DF["MUNICIPALITIES"].str.split('-').str[1]

# Drop unnescary column
PENNDOT_MUNI_DF.drop(columns=['MUNICIPALITIES'], inplace=True)

# View df
PENNDOT_MUNI_DF.head(3)

  PENN_DOT_MUNI_ID PENN_DOT_MUNI_NAME
0           02113      Penn Hills Twp
1           02114         Reserve Twp
2           02115        Robinson Twp

In [225]:
# Clean dataframe
PENNDOT_MUNI_DF["PENN_DOT_MUNI_NAME"] = PENNDOT_MUNI_DF["PENN_DOT_MUNI_NAME"].astype(str)
PENNDOT_MUNI_DF["PENN_DOT_MUNI_NAME"] = PENNDOT_MUNI_DF["PENN_DOT_MUNI_NAME"].str.upper()
PENNDOT_MUNI_DF["PENN_DOT_MUNI_ID"] = PENNDOT_MUNI_DF["PENN_DOT_MUNI_ID"].astype(int)
PENNDOT_MUNI_DF['PENN_DOT_MUNI_NAME'] = PENNDOT_MUNI_DF['PENN_DOT_MUNI_NAME'].str.strip()

# Replace abriviated boro and township with full spelling  
PENNDOT_MUNI_DF['PENN_DOT_MUNI_NAME'] = PENNDOT_MUNI_DF.PENN_DOT_MUNI_NAME.replace({' BORO':' BOROUGH'}, regex=True)
PENNDOT_MUNI_DF['PENN_DOT_MUNI_NAME'] = PENNDOT_MUNI_DF.PENN_DOT_MUNI_NAME.replace({' TWP':' TOWNSHIP'}, regex=True)

# Create a column for county IDs from the first two numbers in the 5 digit ID 
PENNDOT_MUNI_DF['PENN_DOT_COUNTY_NUM'] = (PENNDOT_MUNI_DF['PENN_DOT_MUNI_ID']-(PENNDOT_MUNI_DF['PENN_DOT_MUNI_ID']%1000))/1000
PENNDOT_MUNI_DF['PENN_DOT_COUNTY_NUM'] = PENNDOT_MUNI_DF['PENN_DOT_COUNTY_NUM'].astype(int)

# Sort value
PENNDOT_MUNI_DF.sort_values(by='PENN_DOT_MUNI_ID', ascending=True, inplace=True)

# Reset index
PENNDOT_MUNI_DF.reset_index(drop=True, inplace=True)

# Print length of the dataframe
print(len(PENNDOT_MUNI_DF))

# View df
PENNDOT_MUNI_DF.head(3)

2584

   PENN_DOT_MUNI_ID PENN_DOT_MUNI_NAME  PENN_DOT_COUNTY_NUM
0              1201   BERWICK TOWNSHIP                    1
1              1202    BUTLER TOWNSHIP                    1
2              1203  CONEWAGO TOWNSHIP                    1

## D. Pennsylvania County Subdivisions' FIPS Codes Dataframe

In [226]:
# Import dataframe
df_fips = pd.read_csv('/Users/margaret06/Documents/GitHub/Carlisle_Borough_Transportation_Study/data/st42_pa_cousub2020.txt')

In [227]:
# Split the column by '|'
df_fips[['STATE', 'STATEFP', 'COUNTYFP', 'COUNTYNAME', 'COUSUBFP', 'COUSUBNS', 'COUSUBNAME', 'CLASSFP', 'FUNCSTAT']] = df_fips['STATE|STATEFP|COUNTYFP|COUNTYNAME|COUSUBFP|COUSUBNS|COUSUBNAME|CLASSFP|FUNCSTAT'].str.split('|', expand=True)

# Drop the unnesscary column
df_fips.drop(columns='STATE|STATEFP|COUNTYFP|COUNTYNAME|COUSUBFP|COUSUBNS|COUSUBNAME|CLASSFP|FUNCSTAT', inplace=True)

# Make the values of the columns uppercase
df_fips['COUSUBNAME'] = df_fips['COUSUBNAME'].str.upper()
df_fips['COUNTYNAME'] = df_fips['COUNTYNAME'].str.upper()

# View dataframe
df_fips.head(3)

  STATE STATEFP COUNTYFP    COUNTYNAME COUSUBFP  COUSUBNS            COUSUBNAME CLASSFP FUNCSTAT
0    PA      42      001  ADAMS COUNTY    00116  01214750   ABBOTTSTOWN BOROUGH      C5        F
1    PA      42      001  ADAMS COUNTY    02928  01214751  ARENDTSVILLE BOROUGH      C5        F
2    PA      42      001  ADAMS COUNTY    05536  01214752  BENDERSVILLE BOROUGH      C5        F

## E. Pennsylvania Crash Dataframe

In [228]:
# Define a dataframe
PA_CRASH_DF = pd.DataFrame()

for i in range(2017, 2022, 1):
    filepath = '/Users/margaret06/Documents/penndot_crash/data/Statewide_{}/CRASH_{}_Statewide.csv'.format(i, i)
    newtraffic_df = pd.read_csv(filepath, low_memory=False)
    PA_CRASH_DF = pd.concat([PA_CRASH_DF, newtraffic_df], ignore_index=True)

print("{} crashes between {} and {} in Pennsylvania".format(len(PA_CRASH_DF), START_YEAR, END_YEAR))
PA_CRASH_DF.head(3)

604651 crashes between 2017 and 2021 in Pennsylvania

,ARRIVAL_TM,AUTOMOBILE_COUNT,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,COLLISION_TYPE,COMM_VEH_COUNT,CONS_ZONE_SPD_LIM,COUNTY,CRASH_MONTH,CRASH_YEAR,CRN,DAY_OF_WEEK,DEC_LAT,DEC_LONG,DISPATCH_TM,DISTRICT,DRIVER_COUNT_16YR,DRIVER_COUNT_17YR,DRIVER_COUNT_18YR,DRIVER_COUNT_19YR,DRIVER_COUNT_20YR,DRIVER_COUNT_50_64YR,DRIVER_COUNT_65_74YR,DRIVER_COUNT_75PLUS,EST_HRS_CLOSED,FATAL_COUNT,HEAVY_TRUCK_COUNT,HORSE_BUGGY_COUNT,HOUR_OF_DAY,ILLUMINATION,INJURY_COUNT,INTERSECT_TYPE,LANE_CLOSED,LATITUDE,LN_CLOSE_DIR,LOCATION_TYPE,LONGITUDE,MAX_SEVERITY_LEVEL,MCYCLE_DEATH_COUNT,MCYCLE_SUSP_SERIOUS_INJ_COUNT,MOTORCYCLE_COUNT,MUNICIPALITY,NONMOTR_COUNT,NONMOTR_DEATH_COUNT,NONMOTR_SUSP_SERIOUS_INJ_COUNT,NTFY_HIWY_MAINT,PED_COUNT,PED_DEATH_COUNT,PED_SUSP_SERIOUS_INJ_COUNT,PERSON_COUNT,POLICE_AGCY,POSSIBLE_INJ_COUNT,RDWY_SURF_TYPE_CD,RELATION_TO_ROAD,ROAD_CONDITION,SCH_BUS_IND,SCH_ZONE_IND,SMALL_TRUCK_COUNT,SPEC_JURIS_CD,SUSP_MINOR_INJ_COUNT,SUSP_SERIOUS_INJ_COUNT,SUV_COUNT,TCD_FUNC_CD,TCD_TYPE,TFC_DETOUR_IND,TIME_OF_DAY,TOT_INJ_COUNT,TOTAL_UNITS,UNB_DEATH_COUNT,UNB_SUSP_SERIOUS_INJ_COUNT,UNBELTED_OCC_COUNT,UNK_INJ_DEG_COUNT,UNK_INJ_PER_COUNT,URBAN_RURAL,VAN_COUNT,VEHICLE_COUNT,WORK_ZONE_IND,WORK_ZONE_LOC,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED
0,"2,359.000000",2,0,0,0,0,0,0,0,0,4,0,NaN,46,7,2017,2013012558,4,40.071100,-75.133700,"2,356.000000",6,0,0,0,0,0,0,0,0,2.000000,0,0,0.000000,23.000000,3,2,1,1,40 04:15.931,2.000000,0,75 08:01.387,8,0,0,0,46102,0,0,0,N,0,0,0,3,46102,0,NaN,1.000000,1.000000,N,N,0,NaN,0,0,0,3.000000,2,N,"2,356.000000",2,2,0,0,0,2,0,3,0,2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN
1,"1,432.000000",0,0,0,0,0,0,0,0,0,4,0,NaN,46,7,2017,2014032783,1,40.074300,-75.145900,"1,427.000000",6,0,0,0,0,0,1,0,0,NaN,0,0,0.000000,14.000000,1,0,0,0,40 04:27.500,NaN,7,75 08:45.400,0,0,0,0,46102,0,0,0,N,0,0,0,2,46102,0,NaN,6.000000,1.000000,N,N,1,NaN,0,0,1,0.000000,0,NaN,"1,427.000000",0,2,0,0,0,0,0,3,0,2,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN
2,17.000000,1,0,0,0,0,0,0,0,0,5,0,NaN,6,1,2017,2017000001,1,40.338600,-75.916100,17.000000,5,0,0,0,0,0,0,0,0,NaN,0,0,0.000000,0.000000,3,0,0,0,40 20:19.053,NaN,0,75 54:57.961,9,0,0,0,6301,0,0,0,N,0,0,0,1,06301,0,NaN,2.000000,1.000000,N,N,0,NaN,0,0,1,0.000000,0,NaN,17.000000,0,3,0,0,0,0,1,3,0,3,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN

In [229]:
# Check for the missing values
missing_counts = PA_CRASH_DF.isna().sum()
columns_with_more_than_one_missing = missing_counts[missing_counts > 1]
print(columns_with_more_than_one_missing)

# The missing values in this dataframe do not impact the information I require

ARRIVAL_TM                 1760
CONS_ZONE_SPD_LIM        596792
DEC_LAT                    2522
DEC_LONG                   2522
DISPATCH_TM                2170
EST_HRS_CLOSED           411813
HORSE_BUGGY_COUNT          5294
HOUR_OF_DAY                   4
LATITUDE                   1745
LN_CLOSE_DIR             292134
LONGITUDE                  1745
NTFY_HIWY_MAINT           69213
RDWY_SURF_TYPE_CD        599265
RELATION_TO_ROAD              3
SCH_BUS_IND                3647
SCH_ZONE_IND               8985
SPEC_JURIS_CD            599268
TCD_FUNC_CD                  21
TFC_DETOUR_IND           279175
TIME_OF_DAY                   4
WORK_ZONE_LOC            596793
WORK_ZONE_TYPE           596788
WORKERS_PRES             596790
WZ_CLOSE_DETOUR          599388
WZ_FLAGGER               599191
WZ_LAW_OFFCR_IND         596789
WZ_LN_CLOSURE            598405
WZ_MOVING                599234
WZ_OTHER                 599117
WZ_SHLDER_MDN            598526
ROADWAY_CLEARED          483795
WEATHER1                 117904
WZ_WORKERS_INJ_KILLED    602213
SECONDARY_CRASH          418662
INTERSECTION_RELATED     464929
dtype: int64

**Filter the dataframe where automobiles crashed with cyclists or pedestrians after 2017**

In [230]:
# Select entries where automobiles crashed with cyclists or pedestrians after 2017
car_bike_and_pedestrian_df = PA_CRASH_DF[((PA_CRASH_DF['PED_COUNT']>=1)|
                                   (PA_CRASH_DF['BICYCLE_COUNT']>=1))&
                                  (PA_CRASH_DF['AUTOMOBILE_COUNT']>0)]

# Sum the crashes and pivot the data to municipal ID number
muni_car_bike_ped_crash_df = pd.pivot_table(
    car_bike_and_pedestrian_df,
    values=[
        'BICYCLE_COUNT',
        'BICYCLE_DEATH_COUNT',
        'BICYCLE_SUSP_SERIOUS_INJ_COUNT',
        'AUTOMOBILE_COUNT',
        'PED_COUNT',
        'PED_DEATH_COUNT',
        'PED_SUSP_SERIOUS_INJ_COUNT'
    ],
    index='MUNICIPALITY',
    aggfunc='sum'
)

# Reset index                                                                             
muni_car_bike_ped_crash_df.reset_index(inplace=True)

# Rename the columns to include BY_AUTO to differentiate between 
muni_car_bike_ped_crash_df = muni_car_bike_ped_crash_df.rename(columns={'BICYCLE_COUNT':'BICYCLE_BY_AUTO_COUNT',
                                                                      'BICYCLE_DEATH_COUNT':'BICYCLE_DEATH_BY_AUTO_COUNT',
                                                                      'BICYCLE_SUSP_SERIOUS_INJ_COUNT':'BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT',
                                                                      'PED_COUNT':'PED_BY_AUTO_COUNT',
                                                                      'PED_DEATH_COUNT':'PED_DEATH_BY_AUTO_COUNT', 
                                                                      'PED_SUSP_SERIOUS_INJ_COUNT':'PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT'})

# Print the length of the dataframe
print(len(muni_car_bike_ped_crash_df))

# View dataframe
muni_car_bike_ped_crash_df

1050

      MUNICIPALITY  AUTOMOBILE_COUNT  BICYCLE_BY_AUTO_COUNT  BICYCLE_DEATH_BY_AUTO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT  PED_BY_AUTO_COUNT  PED_DEATH_BY_AUTO_COUNT  PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT
0             1201                 2                      0                            0                                       0                  2                        1                                   0
1             1203                 1                      0                            0                                       0                  1                        1                                   0
2             1204                 3                      1                            0                                       0                  1                        0                                   0
3             1205                 1                      0                            0                                       0                  1                        1                                   0
4             1207                 2                      1                            0                                       0                  1                        0                                   0
...            ...               ...                    ...                          ...                                     ...                ...                      ...                                 ...
1045         66424                 3                      0                            0                                       0                  3                        0                                   0
1046         66426                 6                      2                            0                                       0                  4                        0                                   1
1047         66427                 3                      0                            0                                       0                  3                        0                                   0
1048         66430                 5                      1                            0                                       0                  4                        0                                   0
1049         67301              4379                    813                            9                                      38               3562                      102                                 256

[1050 rows x 8 columns]

In [231]:
# Merge the DataFrames using a left join on the 'MUNICIPALITY' column
muni_car_bike_ped_crash_df = muni_car_bike_ped_crash_df.merge(PA_CRASH_DF, how='left', on='MUNICIPALITY')

# Drop duplicates based on a subset of columns
muni_car_bike_ped_crash_df = muni_car_bike_ped_crash_df.drop_duplicates(subset='MUNICIPALITY')

**Filter the dataframe for crashes that didn't involve automobiles colliding with cyclists and pedestrians after 2017**

In [232]:
# Select crashes that didn't involve automobiles crashing with cyclists and pedestrians
solo_bike_ped_crash_df = PA_CRASH_DF[((PA_CRASH_DF['PED_COUNT']>=1)|
                                   (PA_CRASH_DF['BICYCLE_COUNT']>=1))&
                                  (PA_CRASH_DF['AUTOMOBILE_COUNT']==0)]

# Sum the crashes and pivot the data to municipal ID number
muni_solo_bike_ped_crash_df = pd.pivot_table(
    solo_bike_ped_crash_df,
    values=[
        'BICYCLE_COUNT',
        'BICYCLE_DEATH_COUNT',
        'BICYCLE_SUSP_SERIOUS_INJ_COUNT',
        'PED_COUNT',
        'PED_DEATH_COUNT',
        'PED_SUSP_SERIOUS_INJ_COUNT'
    ],
    index='MUNICIPALITY',
    aggfunc='sum'
)

# Reset index
muni_solo_bike_ped_crash_df.reset_index(inplace=True)

# Rename the columns to include BY_AUTO to differentiate between 
muni_solo_bike_ped_crash_df=muni_solo_bike_ped_crash_df.rename(columns={'BICYCLE_COUNT':'BICYCLE_SOLO_COUNT',
                                                                       'BICYCLE_DEATH_COUNT':'BICYCLE_DEATH_SOLO_COUNT',
                                                                       'BICYCLE_SUSP_SERIOUS_INJ_COUNT':'BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT',
                                                                       'PED_COUNT':'PED_SOLO_COUNT',
                                                                       'PED_DEATH_COUNT':'PED_DEATH_SOLO_COUNT', 
                                                                       'PED_SUSP_SERIOUS_INJ_COUNT':'PED_SUSP_SERIOUS_INJ_SOLO_COUNT'})

# Print the length of the dataframe
print(len(muni_solo_bike_ped_crash_df))

# View dataframe
muni_solo_bike_ped_crash_df

1157

      MUNICIPALITY  BICYCLE_SOLO_COUNT  BICYCLE_DEATH_SOLO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT  PED_SOLO_COUNT  PED_DEATH_SOLO_COUNT  PED_SUSP_SERIOUS_INJ_SOLO_COUNT
0             1201                   0                         0                                    0               1                     0                                0
1             1203                   1                         0                                    0               2                     0                                1
2             1204                   0                         0                                    0               1                     0                                0
3             1207                   2                         0                                    1               0                     0                                0
4             1209                   0                         0                                    0               1                     1                                0
...            ...                 ...                       ...                                  ...             ...                   ...                              ...
1152         66428                   0                         0                                    0               2                     0                                0
1153         66431                   0                         0                                    0               1                     0                                0
1154         66432                   1                         0                                    1               0                     0                                0
1155         66436                   0                         0                                    0               1                     0                                1
1156         67301                 706                        11                                   30            3363                   100                              271

[1157 rows x 7 columns]

# III. Data Merging

## A. Merge PennDOT County Labels (PENNDOT_COUNTY_DF) with ACS Dataframe (ACS_MUNI_DF)

In [233]:
# Make the county names Uppercase for the ACS data so that they can be merged with the PennDOT IDs
ACS_MUNI_DF['COUNTY_NAME'] = ACS_MUNI_DF['COUNTY_NAME'].str.upper()

# Remove white space at beginning and end of ACS county lables 
ACS_MUNI_DF['COUNTY_NAME'] = ACS_MUNI_DF['COUNTY_NAME'].str.strip()

# Create new data frame to hold values so that 
COUNTY_ACS_MUNI_DF = ACS_MUNI_DF.merge(PENNDOT_COUNTY_DF, how='left', left_on='COUNTY_NAME', right_on='PENN_DOT_COUNTY_NAME')

# Print the length of the dataframe
print(len(COUNTY_ACS_MUNI_DF))

# View dataframe
COUNTY_ACS_MUNI_DF.head(2)

2573

                                 NAME  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  state  county  county_subdivision             MUNI_NAME   COUNTY_NAME  PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME
0   Abbottstown borough, Adams County         857                 7                 11                 6                  8                     355                       60                   43                    22                     0                     11     42       1                 116   Abbottstown borough  ADAMS COUNTY                    1         ADAMS COUNTY
1  Arendtsville borough, Adams County         720                 0                 11                 4                  9                     301                       92                   41                    33                     0                     11     42       1                2928  Arendtsville borough  ADAMS COUNTY                    1         ADAMS COUNTY

## B. Merge PennDOT Municipal Labels (PENNDOT_MUNI_DF) with COUNTY_ACS_MUNI_DF Dataframes

In [234]:
# Clean and prepare the ACS columns that will be used to merge the Penn DoT labels and ACS data
COUNTY_ACS_MUNI_DF['PENN_DOT_COUNTY_NUM'] = COUNTY_ACS_MUNI_DF['PENN_DOT_COUNTY_NUM'].astype(int)
COUNTY_ACS_MUNI_DF['MUNI_NAME'] = COUNTY_ACS_MUNI_DF['MUNI_NAME'].str.strip()
COUNTY_ACS_MUNI_DF['MUNI_NAME'] = COUNTY_ACS_MUNI_DF['MUNI_NAME'].str.upper()
COUNTY_ACS_MUNI_DF['MUNI_NAME'] = COUNTY_ACS_MUNI_DF['MUNI_NAME'].replace({"ST. ":"SAINT "},regex=True)

# List the typo townships' names
TYPO_TOWNSHIP_NAMES = {
    "MONROEVILLE MUNICIPALITY": "MONROEVILLE BOROUGH",
    "O'HARA TOWNSHIP": "OHARA TOWNSHIP",
    "COUNTY SUBDIVISIONS NOT DEFINED": "",
    "SUGARCREEK TOWNSHIP": "SUGAR CREEK TOWNSHIP",
    "TIONESAINT TOWNSHIP": "TIONESTA TOWNSHIP",
    "TIONESAINT BOROUGH": "TIONESTA BOROUGH",
    "VALLEY-HI BOROUGH": "VALLEY HI BOROUGH",
    "BLACK LICK TOWNSHIP": "BLACK TOWNSHIP",
    "CHERRYTREE TOWNSHIP": "CHERRY TREE TOWNSHIP",
    "FRENCHCREEK TOWNSHIP": "FRENCH CREEK TOWNSHIP",
    "OIL CITY CITY": "OIL CITY",
    "PINEGROVE TOWNSHIP": "PINE GROVE TOWNSHIP",
    "SANDYCREEK TOWNSHIP": "SANDY CREEK TOWNSHIP",
    "NANTY-GLO BOROUGH": "NANTY GLO BOROUGH",
    "LATROBE BOROUGH": "LATROBE CITY",
    "MURRYSVILLE MUNICIPALITY": "MUNICIPALITY OF MURRYSVILLE",
    "BLOOMSBURG TOWN": "TOWN OF BLOOMSBURG",
    "BETHEL PARK MUNICIPALITY": "BETHEL PARK BOROUGH",
    "LOWER AUGUSAINT TOWNSHIP": "LOWER AUGUSTA TOWNSHIP",
    "UPPER AUGUSAINT TOWNSHIP": "UPPER AUGUSTA TOWNSHIP"
}

# Rename the typo townships' names
for key in TYPO_TOWNSHIP_NAMES:
    COUNTY_ACS_MUNI_DF['MUNI_NAME'] = COUNTY_ACS_MUNI_DF['MUNI_NAME'].str.replace(key,TYPO_TOWNSHIP_NAMES[key])

In [235]:
# Merge the PennDOT labels with the ACS data
ACS_PENNDOT_MUNI_DF = COUNTY_ACS_MUNI_DF.merge(PENNDOT_MUNI_DF,
                                              how='left',
                                              left_on=['MUNI_NAME', 'PENN_DOT_COUNTY_NUM'],
                                              right_on=['PENN_DOT_MUNI_NAME', 'PENN_DOT_COUNTY_NUM'])

# Print the length of the merged DataFrame
print(len(ACS_PENNDOT_MUNI_DF))

# Display the first two rows of the merged DataFrame
ACS_PENNDOT_MUNI_DF.head(3)

2574

                                 NAME  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  state  county  county_subdivision             MUNI_NAME   COUNTY_NAME  PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME  PENN_DOT_MUNI_ID    PENN_DOT_MUNI_NAME
0   Abbottstown borough, Adams County         857                 7                 11                 6                  8                     355                       60                   43                    22                     0                     11     42       1                 116   ABBOTTSTOWN BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,401.000000   ABBOTTSTOWN BOROUGH
1  Arendtsville borough, Adams County         720                 0                 11                 4                  9                     301                       92                   41                    33                     0                     11     42       1                2928  ARENDTSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,402.000000  ARENDTSVILLE BOROUGH
2  Bendersville borough, Adams County         672                 0                 11                 4                  5                     305                       97                    6                     9                     0                     11     42       1                5536  BENDERSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,403.000000  BENDERSVILLE BOROUGH

In [236]:
# Print Municipalities with errors
municipalities_with_errors = ACS_PENNDOT_MUNI_DF['MUNI_NAME'][ACS_PENNDOT_MUNI_DF['PENN_DOT_MUNI_ID'].isna() == True].unique()
print("Municipalities with Errors:")
print(municipalities_with_errors)

# Note: There are two Stonycreek Townships in PA.

Municipalities with Errors:
['LERAYSVILLE BOROUGH' '' 'BLACK TOWNSHIP' 'S.N.P.J. BOROUGH'
 'WILKES-BARRE CITY' 'WILKES-BARRE TOWNSHIP' 'STONYCREEK TOWNSHIP']

## C. Merge ACS_PENNDOT_MUNI_DF with Muni_GOV_STATS Dataframes

In [237]:
# Merge ACS_PENNDOT_MUNI_DF with Muni_GOV_STATS
MUNI_DF = ACS_PENNDOT_MUNI_DF.merge(Muni_GOV_STATS, how="left", left_on=["MUNI_NAME", "PENN_DOT_COUNTY_NAME"], right_on=["MUNICIPALITY_NAME", "COUNTY_NAME"])

# Print the lengths of the dataframes before and after merging
print("Length of ACS_PENNDOT_MUNI_DF: {}\n".format(len(ACS_PENNDOT_MUNI_DF)))
print("Length of Muni_GOV_STATS: {}\n".format(len(Muni_GOV_STATS)))
print("Length of MUNI_DF (after merging): {}\n".format(len(MUNI_DF)))

# Display the first 3 rows of the merged dataframe
MUNI_DF.head(3)

Length of ACS_PENNDOT_MUNI_DF: 2574

Length of Muni_GOV_STATS: 2635

Length of MUNI_DF (after merging): 2574

                                 NAME  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  state  county  county_subdivision             MUNI_NAME COUNTY_NAME_x  PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME  PENN_DOT_MUNI_ID    PENN_DOT_MUNI_NAME COUNTY_NAME_y      textbox5     MUNICIPALITY_NAME  CENSUS_POPULATION  LAND_AREA   FEDERAL_EIN_CODE HOME_RULE_CODE HOME_RULE_NAME  HOME_RULE_YEAR GOVERNMENTAL_FORM  EMPLOYEES_FULL_TIME  EMPLOYEES_PART_TIME  INCORPORATION_YEAR
0   Abbottstown borough, Adams County         857                 7                 11                 6                  8                     355                       60                   43                    22                     0                     11     42       1                 116   ABBOTTSTOWN BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,401.000000   ABBOTTSTOWN BOROUGH  ADAMS COUNTY 10,033.000000   ABBOTTSTOWN BOROUGH       1,022.000000   0.600000 236,050,408.000000            NaN            NaN             NaN               NaN             1.000000            10.000000        1,835.000000
1  Arendtsville borough, Adams County         720                 0                 11                 4                  9                     301                       92                   41                    33                     0                     11     42       1                2928  ARENDTSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,402.000000  ARENDTSVILLE BOROUGH  ADAMS COUNTY 10,063.000000  ARENDTSVILLE BOROUGH         867.000000   0.800000 231,603,459.000000            NaN            NaN             NaN               NaN             3.000000             2.000000        1,896.000000
2  Bendersville borough, Adams County         672                 0                 11                 4                  5                     305                       97                    6                     9                     0                     11     42       1                5536  BENDERSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY      1,403.000000  BENDERSVILLE BOROUGH  ADAMS COUNTY 10,093.000000  BENDERSVILLE BOROUGH         736.000000   0.500000 237,447,802.000000            NaN            NaN             NaN               NaN             0.000000            19.000000        1,866.000000

In [238]:
# Reorganize columns in the MUNI_DF DataFrame
MUNI_DF.rename(columns={'COUNTY_NAME_x':'COUNTY_NAME'}, inplace=True)

# Keep the selected columns
MUNI_DF = MUNI_DF[['NAME', 'PENN_DOT_MUNI_ID', 'state', 'county', 'county_subdivision',
                 'POPULATION', 'LAND_AREA', 'BIKE_TO_WORK_EST', 'BIKE_TO_WORK_MARG',
                 'WALK_TO_WORK_EST', 'WALK_TO_WORK_MARG', 'DRIVE_SOLO_TO_WORK_EST', 'DRIVE_SOLO_TO_WORK_MARG',
                 'CARPOOL_TO_WORK_EST', 'CARPOOL_TO_WORK_MARG', 'PUBTRANS_TO_WORK_EST', 'PUBTRANS_TO_WORK_MARG',
                 'MUNI_NAME', 'COUNTY_NAME', 'PENN_DOT_COUNTY_NUM', 'PENN_DOT_COUNTY_NAME',
                 'PENN_DOT_MUNI_NAME', 'MUNICIPALITY_NAME', 'LAND_AREA', 'FEDERAL_EIN_CODE',
                 'HOME_RULE_CODE', 'HOME_RULE_NAME', 'HOME_RULE_YEAR', 'GOVERNMENTAL_FORM',
                 'EMPLOYEES_FULL_TIME', 'EMPLOYEES_PART_TIME', 'INCORPORATION_YEAR']]

# Display the first 3 rows of the reorganized DataFrame
MUNI_DF.head(3)

                                 NAME  PENN_DOT_MUNI_ID  state  county  county_subdivision  POPULATION  LAND_AREA  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG             MUNI_NAME   COUNTY_NAME  PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME    PENN_DOT_MUNI_NAME     MUNICIPALITY_NAME  LAND_AREA   FEDERAL_EIN_CODE HOME_RULE_CODE HOME_RULE_NAME  HOME_RULE_YEAR GOVERNMENTAL_FORM  EMPLOYEES_FULL_TIME  EMPLOYEES_PART_TIME  INCORPORATION_YEAR
0   Abbottstown borough, Adams County      1,401.000000     42       1                 116         857   0.600000                 7                 11                 6                  8                     355                       60                   43                    22                     0                     11   ABBOTTSTOWN BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY   ABBOTTSTOWN BOROUGH   ABBOTTSTOWN BOROUGH   0.600000 236,050,408.000000            NaN            NaN             NaN               NaN             1.000000            10.000000        1,835.000000
1  Arendtsville borough, Adams County      1,402.000000     42       1                2928         720   0.800000                 0                 11                 4                  9                     301                       92                   41                    33                     0                     11  ARENDTSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY  ARENDTSVILLE BOROUGH  ARENDTSVILLE BOROUGH   0.800000 231,603,459.000000            NaN            NaN             NaN               NaN             3.000000             2.000000        1,896.000000
2  Bendersville borough, Adams County      1,403.000000     42       1                5536         672   0.500000                 0                 11                 4                  5                     305                       97                    6                     9                     0                     11  BENDERSVILLE BOROUGH  ADAMS COUNTY                    1         ADAMS COUNTY  BENDERSVILLE BOROUGH  BENDERSVILLE BOROUGH   0.500000 237,447,802.000000            NaN            NaN             NaN               NaN             0.000000            19.000000        1,866.000000

In [239]:
# Sort values in the MUNI_DF DataFrame by 'BIKE_TO_WORK_EST' in descending order
MUNI_DF.sort_values(by='BIKE_TO_WORK_EST', ascending=False, inplace=True)

# Remove rows with missing values in the 'PENN_DOT_MUNI_ID' column
MUNI_DF = MUNI_DF.dropna(subset=['PENN_DOT_MUNI_ID'])

# Convert the 'PENN_DOT_MUNI_ID' column to integers
MUNI_DF['PENN_DOT_MUNI_ID'] = MUNI_DF['PENN_DOT_MUNI_ID'].astype(int)

# Reset index
MUNI_DF.reset_index(drop=True, inplace=True)

# Print the length of the ACS dataframe 
print(len(MUNI_DF))

# Display the first 3 rows of the sorted and cleaned DataFrame
MUNI_DF.head(3)

2567

                                     NAME  PENN_DOT_MUNI_ID  state  county  county_subdivision  POPULATION  LAND_AREA  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG              MUNI_NAME          COUNTY_NAME  PENN_DOT_COUNTY_NUM PENN_DOT_COUNTY_NAME     PENN_DOT_MUNI_NAME      MUNICIPALITY_NAME  LAND_AREA   FEDERAL_EIN_CODE HOME_RULE_CODE            HOME_RULE_NAME  HOME_RULE_YEAR GOVERNMENTAL_FORM  EMPLOYEES_FULL_TIME  EMPLOYEES_PART_TIME  INCORPORATION_YEAR
0  Philadelphia city, Philadelphia County             67301     42     101               60000     1596865 134.100000             14172                940             54269               2031                  343702                     5207                55482                  3121                152058                   4179      PHILADELPHIA CITY  PHILADELPHIA COUNTY                   67  PHILADELPHIA COUNTY      PHILADELPHIA CITY      PHILADELPHIA CITY 134.100000 236,003,047.000000      Home Rule         PHILADELPHIA CITY    1,952.000000               NaN        22,325.000000         1,037.000000                 NaN
1       Pittsburgh city, Allegheny County              2301     42       3               61000      303207  55.400000              1920                290             15005               1033                   80593                     2054                10191                   814                 23357                   1252        PITTSBURGH CITY     ALLEGHENY COUNTY                    2     ALLEGHENY COUNTY        PITTSBURGH CITY        PITTSBURGH CITY  55.400000 256,000,879.000000      Home Rule        CITY OF PITTSBURGH    1,976.000000               NaN         3,098.000000           149.000000        1,816.000000
2    State College borough, Centre County             14410     42      27               73808       40352   4.600000               729                297              3963                402                    6711                      800                  484                   166                  1813                    392  STATE COLLEGE BOROUGH        CENTRE COUNTY                   14        CENTRE COUNTY  STATE COLLEGE BOROUGH  STATE COLLEGE BOROUGH   4.600000 246,000,660.000000      Home Rule  BOROUGH OF STATE COLLEGE    1,976.000000               NaN           166.000000            23.000000        1,896.000000

## D. Merge muni_car_bike_ped_crash_df and muni_solo_bike_ped_crash_df Dataframes

In [240]:
# Merge car, bike, and pedestrian crash dataframes
CRASH_DF = muni_car_bike_ped_crash_df.merge(
                  muni_solo_bike_ped_crash_df,
                  how="outer",
                  left_on='MUNICIPALITY',
                  right_on='MUNICIPALITY')

# Print the length of the combined crash data
print(len(CRASH_DF))

# Display the first few rows of the merged dataframe
CRASH_DF.head()

1438

,MUNICIPALITY,AUTOMOBILE_COUNT_x,BICYCLE_BY_AUTO_COUNT,BICYCLE_DEATH_BY_AUTO_COUNT,BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT,PED_BY_AUTO_COUNT,PED_DEATH_BY_AUTO_COUNT,PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT,ARRIVAL_TM,AUTOMOBILE_COUNT_y,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,COLLISION_TYPE,COMM_VEH_COUNT,CONS_ZONE_SPD_LIM,COUNTY,CRASH_MONTH,CRASH_YEAR,CRN,DAY_OF_WEEK,DEC_LAT,DEC_LONG,DISPATCH_TM,DISTRICT,DRIVER_COUNT_16YR,DRIVER_COUNT_17YR,DRIVER_COUNT_18YR,DRIVER_COUNT_19YR,DRIVER_COUNT_20YR,DRIVER_COUNT_50_64YR,DRIVER_COUNT_65_74YR,DRIVER_COUNT_75PLUS,EST_HRS_CLOSED,FATAL_COUNT,HEAVY_TRUCK_COUNT,HORSE_BUGGY_COUNT,HOUR_OF_DAY,ILLUMINATION,INJURY_COUNT,INTERSECT_TYPE,LANE_CLOSED,LATITUDE,LN_CLOSE_DIR,LOCATION_TYPE,LONGITUDE,MAX_SEVERITY_LEVEL,MCYCLE_DEATH_COUNT,MCYCLE_SUSP_SERIOUS_INJ_COUNT,MOTORCYCLE_COUNT,NONMOTR_COUNT,NONMOTR_DEATH_COUNT,NONMOTR_SUSP_SERIOUS_INJ_COUNT,NTFY_HIWY_MAINT,PED_COUNT,PED_DEATH_COUNT,PED_SUSP_SERIOUS_INJ_COUNT,PERSON_COUNT,POLICE_AGCY,POSSIBLE_INJ_COUNT,RDWY_SURF_TYPE_CD,RELATION_TO_ROAD,ROAD_CONDITION,SCH_BUS_IND,SCH_ZONE_IND,SMALL_TRUCK_COUNT,SPEC_JURIS_CD,SUSP_MINOR_INJ_COUNT,SUSP_SERIOUS_INJ_COUNT,SUV_COUNT,TCD_FUNC_CD,TCD_TYPE,TFC_DETOUR_IND,TIME_OF_DAY,TOT_INJ_COUNT,TOTAL_UNITS,UNB_DEATH_COUNT,UNB_SUSP_SERIOUS_INJ_COUNT,UNBELTED_OCC_COUNT,UNK_INJ_DEG_COUNT,UNK_INJ_PER_COUNT,URBAN_RURAL,VAN_COUNT,VEHICLE_COUNT,WORK_ZONE_IND,WORK_ZONE_LOC,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED,BICYCLE_SOLO_COUNT,BICYCLE_DEATH_SOLO_COUNT,BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT,PED_SOLO_COUNT,PED_DEATH_SOLO_COUNT,PED_SUSP_SERIOUS_INJ_SOLO_COUNT
0,1201,2.000000,0.000000,0.000000,0.000000,2.000000,1.000000,0.000000,"1,126.000000",1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,1.000000,1.000000,"2,017.000000","2,017,007,627.000000",2.000000,39.854200,-76.982900,"1,104.000000",8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,11.000000,1.000000,0.000000,0.000000,0.000000,39 51:15.115,NaN,0.000000,76 58:58.471,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,1.000000,68H06,0.000000,NaN,1.000000,1.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,"1,102.000000",0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
1,1203,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,142.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,NaN,1.000000,1.000000,"2,017.000000","2,017,002,840.000000",1.000000,39.804800,-77.007100,141.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,0.000000,1.000000,3.000000,0.000000,0.000000,2.000000,39 48:17.116,6.000000,0.000000,77 00:25.721,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,2.000000,01203,0.000000,NaN,4.000000,1.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,Y,139.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN,1.000000,0.000000,0.000000,2.000000,0.000000,1.000000
2,1204,3.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,647.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,NaN,1.000000,1.000000,"2,017.000000","2,017,004,603.000000",4.000000,39.800500,-77.257600,637.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,6.000000,2.000000,1.000000,0.000000,0.000000,39 48:01.957,NaN,0.000000,77 15:27.340,3.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,1.000000,01204,0.000000,NaN,4.000000,2.000000,N,N,0.000000,NaN,1.000000,0.000000,0.000000,0.000000,0.000000,NaN,637.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,,NaN,NaN,NaN,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000
3,1205,1.000000,0.000000,0.000000,0.000000,1.000000,1.000000,0.000000,654.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,NaN,1.000000,1.000000,"2,017.000000","2,017,007,541.000000",4.000000,39.885500,-77.342800,644.000000,8.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,6.000000,2.000000,0.000000,0.000000,0.000000,39 53:07.660,NaN,0.000000,77 20:34.039,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,1.000000,68H06,0.000000,NaN,5.000000,2.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,627.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,98,,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1207,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,"1,602.000000",1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,NaN,1.000000,1.000000,"2,017.000000","2,017,009,840.000000",6.000000,39.736500,-77.119400,"1,548.000000",8.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,15.000000,1.000000,0.000000,0.000000,1.000000,39 44:11.290,1.000000,0.000000,77 07:09.730,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,1.000000,68H06,0.000000,NaN,4.000000,9.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,3.000000,8.000000,N,"1,540.000000",0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,,NaN,NaN,NaN,2.000000,0.000000,1.000000,0.000000,0.000000,0.000000

## E. Merge MUNI_DF and CRASH_DF Dataframes

In [241]:
# Merge MUNI_DF and CRASH_DF with column renaming
MUNI_CRASH_DATA = pd.merge(MUNI_DF, CRASH_DF.rename(columns={'AUTOMOBILE_COUNT_x': 'AUTOMOBILE_COUNT'}), how="inner", left_on="PENN_DOT_MUNI_ID", right_on="MUNICIPALITY")

# Print the length of MUNI_DF, CRASH_DF, and MUNI_CRASH_DATA
print("Length of MUNI_DF:", len(MUNI_DF))
print("Length of CRASH_DF:", len(CRASH_DF))
print("Length of MUNI_CRASH_DATA:", len(MUNI_CRASH_DATA))

# Display the first few rows of the merged MUNI_CRASH_DATA dataframe
MUNI_CRASH_DATA.head()

Length of MUNI_DF: 2567
Length of CRASH_DF: 1438
Length of MUNI_CRASH_DATA: 1436

,NAME,PENN_DOT_MUNI_ID,state,county,county_subdivision,POPULATION,LAND_AREA,BIKE_TO_WORK_EST,BIKE_TO_WORK_MARG,WALK_TO_WORK_EST,WALK_TO_WORK_MARG,DRIVE_SOLO_TO_WORK_EST,DRIVE_SOLO_TO_WORK_MARG,CARPOOL_TO_WORK_EST,CARPOOL_TO_WORK_MARG,PUBTRANS_TO_WORK_EST,PUBTRANS_TO_WORK_MARG,MUNI_NAME,COUNTY_NAME,PENN_DOT_COUNTY_NUM,PENN_DOT_COUNTY_NAME,PENN_DOT_MUNI_NAME,MUNICIPALITY_NAME,LAND_AREA,FEDERAL_EIN_CODE,HOME_RULE_CODE,HOME_RULE_NAME,HOME_RULE_YEAR,GOVERNMENTAL_FORM,EMPLOYEES_FULL_TIME,EMPLOYEES_PART_TIME,INCORPORATION_YEAR,MUNICIPALITY,AUTOMOBILE_COUNT,BICYCLE_BY_AUTO_COUNT,BICYCLE_DEATH_BY_AUTO_COUNT,BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT,PED_BY_AUTO_COUNT,PED_DEATH_BY_AUTO_COUNT,PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT,ARRIVAL_TM,AUTOMOBILE_COUNT_y,BELTED_DEATH_COUNT,BELTED_SUSP_SERIOUS_INJ_COUNT,BICYCLE_COUNT,BICYCLE_DEATH_COUNT,BICYCLE_SUSP_SERIOUS_INJ_COUNT,BUS_COUNT,CHLDPAS_DEATH_COUNT,CHLDPAS_SUSP_SERIOUS_INJ_COUNT,COLLISION_TYPE,COMM_VEH_COUNT,CONS_ZONE_SPD_LIM,COUNTY,CRASH_MONTH,CRASH_YEAR,CRN,DAY_OF_WEEK,DEC_LAT,DEC_LONG,DISPATCH_TM,DISTRICT,DRIVER_COUNT_16YR,DRIVER_COUNT_17YR,DRIVER_COUNT_18YR,DRIVER_COUNT_19YR,DRIVER_COUNT_20YR,DRIVER_COUNT_50_64YR,DRIVER_COUNT_65_74YR,DRIVER_COUNT_75PLUS,EST_HRS_CLOSED,FATAL_COUNT,HEAVY_TRUCK_COUNT,HORSE_BUGGY_COUNT,HOUR_OF_DAY,ILLUMINATION,INJURY_COUNT,INTERSECT_TYPE,LANE_CLOSED,LATITUDE,LN_CLOSE_DIR,LOCATION_TYPE,LONGITUDE,MAX_SEVERITY_LEVEL,MCYCLE_DEATH_COUNT,MCYCLE_SUSP_SERIOUS_INJ_COUNT,MOTORCYCLE_COUNT,NONMOTR_COUNT,NONMOTR_DEATH_COUNT,NONMOTR_SUSP_SERIOUS_INJ_COUNT,NTFY_HIWY_MAINT,PED_COUNT,PED_DEATH_COUNT,PED_SUSP_SERIOUS_INJ_COUNT,PERSON_COUNT,POLICE_AGCY,POSSIBLE_INJ_COUNT,RDWY_SURF_TYPE_CD,RELATION_TO_ROAD,ROAD_CONDITION,SCH_BUS_IND,SCH_ZONE_IND,SMALL_TRUCK_COUNT,SPEC_JURIS_CD,SUSP_MINOR_INJ_COUNT,SUSP_SERIOUS_INJ_COUNT,SUV_COUNT,TCD_FUNC_CD,TCD_TYPE,TFC_DETOUR_IND,TIME_OF_DAY,TOT_INJ_COUNT,TOTAL_UNITS,UNB_DEATH_COUNT,UNB_SUSP_SERIOUS_INJ_COUNT,UNBELTED_OCC_COUNT,UNK_INJ_DEG_COUNT,UNK_INJ_PER_COUNT,URBAN_RURAL,VAN_COUNT,VEHICLE_COUNT,WORK_ZONE_IND,WORK_ZONE_LOC,WORK_ZONE_TYPE,WORKERS_PRES,WZ_CLOSE_DETOUR,WZ_FLAGGER,WZ_LAW_OFFCR_IND,WZ_LN_CLOSURE,WZ_MOVING,WZ_OTHER,WZ_SHLDER_MDN,ROADWAY_CLEARED,WEATHER1,WEATHER2,WZ_WORKERS_INJ_KILLED,SECONDARY_CRASH,INTERSECTION_RELATED,BICYCLE_SOLO_COUNT,BICYCLE_DEATH_SOLO_COUNT,BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT,PED_SOLO_COUNT,PED_DEATH_SOLO_COUNT,PED_SUSP_SERIOUS_INJ_SOLO_COUNT
0,"Philadelphia city, Philadelphia County",67301,42,101,60000,1596865,134.100000,14172,940,54269,2031,343702,5207,55482,3121,152058,4179,PHILADELPHIA CITY,PHILADELPHIA COUNTY,67,PHILADELPHIA COUNTY,PHILADELPHIA CITY,PHILADELPHIA CITY,134.100000,"236,003,047.000000",Home Rule,PHILADELPHIA CITY,"1,952.000000",NaN,"22,325.000000","1,037.000000",NaN,67301,"4,379.000000",813.000000,9.000000,38.000000,"3,562.000000",102.000000,256.000000,636.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.000000,NaN,67.000000,1.000000,"2,017.000000","2,017,000,523.000000",3.000000,39.912400,-75.173900,636.000000,6.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,6.000000,3.000000,0.000000,0.000000,0.000000,39 54:44.660,NaN,0.000000,75 10:25.960,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,1.000000,67501,0.000000,NaN,7.000000,9.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,636.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,1.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,,NaN,NaN,NaN,706.000000,11.000000,30.000000,"3,363.000000",100.000000,271.000000
1,"Pittsburgh city, Allegheny County",2301,42,3,61000,303207,55.400000,1920,290,15005,1033,80593,2054,10191,814,23357,1252,PITTSBURGH CITY,ALLEGHENY COUNTY,2,ALLEGHENY COUNTY,PITTSBURGH CITY,PITTSBURGH CITY,55.400000,"256,000,879.000000",Home Rule,CITY OF PITTSBURGH,"1,976.000000",NaN,"3,098.000000",149.000000,"1,816.000000",2301,805.000000,111.000000,1.000000,5.000000,709.000000,7.000000,96.000000,322.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,NaN,2.000000,1.000000,"2,017.000000","2,017,000,024.000000",1.000000,40.448900,-80.000700,318.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,3.000000,3.000000,0.000000,1.000000,1.000000,40 26:56.157,5.000000,0.000000,80 00:02.660,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,3.000000,02301,0.000000,NaN,1.000000,9.000000,N,N,0.000000,NaN,0.000000,0.000000,1.000000,3.000000,1.000000,N,318.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,2.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,,NaN,NaN,NaN,80.000000,2.000000,9.000000,451.000000,19.000000,50.000000
2,"State College borough, Centre County",14410,42,27,73808,40352,4.600000,729,297,3963,402,6711,800,484,166,1813,392,STATE COLLEGE BOROUGH,CENTRE COUNTY,14,CENTRE COUNTY,STATE COLLEGE BOROUGH,STATE COLLEGE BOROUGH,4.600000,"246,000,660.000000",Home Rule,BOROUGH OF STATE COLLEGE,"1,976.000000",NaN,166.000000,23.000000,"1,896.000000",14410,82.000000,23.000000,1.000000,2.000000,60.000000,0.000000,3.000000,"1,039.000000",2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,NaN,14.000000,1.000000,"2,017.000000","2,017,000,832.000000",4.000000,40.784600,-77.848600,"1,039.000000",2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,10.000000,1.000000,2.000000,1.000000,1.000000,40 47:04.705,1.000000,0.000000,77 50:54.833,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,3.000000,14410,2.000000,NaN,1.000000,9.000000,N,N,0.000000,NaN,0.000000,0.000000,0.000000,3.000000,2.000000,N,"1,039.000000",2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,2.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7,,NaN,NaN,NaN,16.000000,0.000000,4.000000,48.000000,0.000000,4.000000
3,"Erie city, Erie County",25302,42,49,24000,95536,19.100000,329,191,2003,392,28933,1152,5476,668,1482,312,ERIE CITY,ERIE COUNTY,25,ERIE COUNTY,ERIE CITY,ERIE CITY,19.100000,"256,000,857.000000",Opional 3rd Class City Charter,CITY OF ERIE,"1,962.000000",Mayor/Council,659.000000,78.000000,"1,851.000000",25302,186.000000,58.000000,1.000000,5.000000,130.000000,4.000000,14.000000,"1,555.000000",1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.000000,NaN,25.000000,1.000000,"2,017.000000","2,017,000,113.000000",1.000000,42.114800,-80.032400,"1,531.000000",1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,2.000000,0.000000,0.000000,0.000000,15.000000,1.000000,0.000000,1.000000,1.000000,42 06:53.376,3.000000,0.000000,80 01:56.810,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,3.000000,25302,0.000000,NaN,1.000000,1.000000,N,N,0.000000,NaN,0.000000,0.000000,1.000000,3.000000,2.000000,N,"1,531.000000",0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,3.000000,0.000000,2.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,,NaN,NaN,NaN,64.000000,0.000000,3.000000,127.000000,5.000000,18.000000
4,"Ferguson township, Centre County",14206,42,27,25624,19236,47.700000,259,116,335,142,6363,680,1169,336,591,211,FERGUSON TOWNSHIP,CENTRE COUNTY,14,CENTRE COUNTY,FERGUSON TOWNSHIP,FERGUSON TOWNSHIP,47.700000,"251,197,270.000000",Home Rule,TOWNSHIP OF FERGUSON,"1,976.000000",NaN,65.000000,9.000000,"1,801.000000",14206,12.000000,5.000000,0.000000,2.000000,5.000000,0.000000,0.000000,600.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,6.000000,0.000000,NaN,14.000000,1.000000,"2,017.000000","2,017,002,418.000000",6.000000,40.728000,-77.883700,556.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,5.000000,2.000000,0.000000,0.000000,1.000000,40 43:40.730,2.000000,0.000000,77 53:01.383,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,N,0.000000,0.000000,0.000000,2.000000,14206,0.000000,NaN,1.000000,2.000000,N,N,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,N,550.000000,0.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,2.000000,N,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10,,NaN,NaN,NaN,4.000000,1.000000,0.000000,3.000000,0.000000,1.000000

**Clean the MUNI_CRASH_DATA (muni_crash_df) dataframe**

In [242]:
selected_columns = ['NAME', 'PENN_DOT_MUNI_ID', 'POPULATION', 'BIKE_TO_WORK_EST', 'BIKE_TO_WORK_MARG', 'WALK_TO_WORK_EST', 'WALK_TO_WORK_MARG', 'DRIVE_SOLO_TO_WORK_EST', 'DRIVE_SOLO_TO_WORK_MARG', 'CARPOOL_TO_WORK_EST', 'CARPOOL_TO_WORK_MARG', 'PUBTRANS_TO_WORK_EST', 'PUBTRANS_TO_WORK_MARG', 'PENN_DOT_COUNTY_NAME', 'MUNICIPALITY_NAME', 'AUTOMOBILE_COUNT', 'BICYCLE_BY_AUTO_COUNT', 'BICYCLE_DEATH_BY_AUTO_COUNT', 'BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT', 'PED_BY_AUTO_COUNT', 'PED_DEATH_BY_AUTO_COUNT', 'PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT', 'BICYCLE_SOLO_COUNT', 'BICYCLE_DEATH_SOLO_COUNT', 'BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT', 'PED_SOLO_COUNT', 'PED_DEATH_SOLO_COUNT', 'PED_SUSP_SERIOUS_INJ_SOLO_COUNT']

# Select the desired columns in your DataFrame
muni_crash_df = MUNI_CRASH_DATA[selected_columns]

In [243]:
# Ignore SettingWithCopyWarning
pd.options.mode.chained_assignment = None

# Convert 'NAME' column to uppercase
muni_crash_df['NAME'] = muni_crash_df['NAME'].str.upper()

# Split 'NAME' column to extract 'City' and 'County'
muni_crash_df['CITY'] = muni_crash_df['NAME'].str.split(',').str[0]
muni_crash_df['COUNTY'] = muni_crash_df['NAME'].str.split(',').str[1]

# Split 'CITY' to extract 'Municipal Divisions', 'First Municipality', and 'Second Municipality'
muni_crash_df["Municipal Divisions"] = muni_crash_df['CITY'].str.split(' ').str[-1]  # Municipal Divisions such as borough, township, and city
muni_crash_df["First Municipality"] = muni_crash_df['CITY'].str.split(' ').str[0]
muni_crash_df["Second Municipality"] = muni_crash_df['CITY'].str.split(' ').str[1]

# Define a function to conditionally concatenate 'First Municipality' and 'Second Municipality'
def concatenate_municipalities(row):
    if "BOROUGH" not in row["Second Municipality"] and "CITY" not in row["Second Municipality"] and "TOWNSHIP" not in row["Second Municipality"]:
        return row["First Municipality"] + " " + row["Second Municipality"]
    else:
        return row["First Municipality"]

# Apply the function to create a new 'City' column
muni_crash_df["City"] = muni_crash_df.apply(concatenate_municipalities, axis=1)

# Remove white space from 'City' and 'County' columns
muni_crash_df['CITY'] = muni_crash_df['CITY'].str.strip()
muni_crash_df['City'] = muni_crash_df['City'].str.strip()
muni_crash_df['COUNTY'] = muni_crash_df['COUNTY'].str.strip()

# Drop unnecessary columns
muni_crash_df.drop(columns=["First Municipality", "Second Municipality", "PENN_DOT_COUNTY_NAME", "MUNICIPALITY_NAME"], inplace=True)

# Revert to the default warning behavior
pd.options.mode.chained_assignment = 'warn'

In [244]:
# View the shape of the dataframe
muni_crash_df.shape

# View dataframe
muni_crash_df.head()

                                     NAME  PENN_DOT_MUNI_ID  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  AUTOMOBILE_COUNT  BICYCLE_BY_AUTO_COUNT  BICYCLE_DEATH_BY_AUTO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT  PED_BY_AUTO_COUNT  PED_DEATH_BY_AUTO_COUNT  PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT  BICYCLE_SOLO_COUNT  BICYCLE_DEATH_SOLO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT  PED_SOLO_COUNT  PED_DEATH_SOLO_COUNT  PED_SUSP_SERIOUS_INJ_SOLO_COUNT                   CITY               COUNTY Municipal Divisions           City
0  PHILADELPHIA CITY, PHILADELPHIA COUNTY             67301     1596865             14172                940             54269               2031                  343702                     5207                55482                  3121                152058                   4179      4,379.000000             813.000000                     9.000000                               38.000000       3,562.000000               102.000000                          256.000000          706.000000                 11.000000                            30.000000    3,363.000000            100.000000                       271.000000      PHILADELPHIA CITY  PHILADELPHIA COUNTY                CITY   PHILADELPHIA
1       PITTSBURGH CITY, ALLEGHENY COUNTY              2301      303207              1920                290             15005               1033                   80593                     2054                10191                   814                 23357                   1252        805.000000             111.000000                     1.000000                                5.000000         709.000000                 7.000000                           96.000000           80.000000                  2.000000                             9.000000      451.000000             19.000000                        50.000000        PITTSBURGH CITY     ALLEGHENY COUNTY                CITY     PITTSBURGH
2    STATE COLLEGE BOROUGH, CENTRE COUNTY             14410       40352               729                297              3963                402                    6711                      800                  484                   166                  1813                    392         82.000000              23.000000                     1.000000                                2.000000          60.000000                 0.000000                            3.000000           16.000000                  0.000000                             4.000000       48.000000              0.000000                         4.000000  STATE COLLEGE BOROUGH        CENTRE COUNTY             BOROUGH  STATE COLLEGE
3                  ERIE CITY, ERIE COUNTY             25302       95536               329                191              2003                392                   28933                     1152                 5476                   668                  1482                    312        186.000000              58.000000                     1.000000                                5.000000         130.000000                 4.000000                           14.000000           64.000000                  0.000000                             3.000000      127.000000              5.000000                        18.000000              ERIE CITY          ERIE COUNTY                CITY           ERIE
4        FERGUSON TOWNSHIP, CENTRE COUNTY             14206       19236               259                116               335                142                    6363                      680                 1169                   336                   591                    211         12.000000               5.000000                     0.000000                                2.000000           5.000000                 0.000000                            0.000000            4.000000                  1.000000                             0.000000        3.000000              0.000000                         1.000000      FERGUSON TOWNSHIP        CENTRE COUNTY            TOWNSHIP       FERGUSON

## F. Merge df_fips and muni_crash_df Dataframes

In [245]:
# Merge df_fips and muni_crash_df Dataframes
df_pa_tableau = df_fips.merge(muni_crash_df, how='right', left_on=['COUSUBNAME', 'COUNTYNAME'], right_on=['CITY', 'COUNTY'])

In [246]:
# Drop the unnecessary columns
df_pa_tableau.drop(columns=['City', 'CITY', 'COUNTY', 'NAME', 'Municipal Divisions'], inplace=True)

In [247]:
# Creat variables
df_pa_tableau['TOTAL_BICYCLE_BY_AUTO_COUNT'] = df_pa_tableau['BICYCLE_DEATH_BY_AUTO_COUNT'] + df_pa_tableau['BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT']
df_pa_tableau['TOTAL_PED_BY_AUTO_COUNT'] = df_pa_tableau['PED_DEATH_BY_AUTO_COUNT'] + df_pa_tableau['PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT']
df_pa_tableau['TOTAL_BICYCLE_SOLO_COUNT'] = df_pa_tableau['BICYCLE_DEATH_SOLO_COUNT'] + df_pa_tableau['BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT']
df_pa_tableau['TOTAL_PED_SOLO_COUNT'] = df_pa_tableau['PED_DEATH_SOLO_COUNT'] + df_pa_tableau['PED_SUSP_SERIOUS_INJ_SOLO_COUNT']

In [248]:
# Print the length of the dataframe
print(len(df_pa_tableau))

# View dataframe
df_pa_tableau.head()

1436

  STATE STATEFP COUNTYFP           COUNTYNAME COUSUBFP  COUSUBNS             COUSUBNAME CLASSFP FUNCSTAT  PENN_DOT_MUNI_ID  POPULATION  BIKE_TO_WORK_EST  BIKE_TO_WORK_MARG  WALK_TO_WORK_EST  WALK_TO_WORK_MARG  DRIVE_SOLO_TO_WORK_EST  DRIVE_SOLO_TO_WORK_MARG  CARPOOL_TO_WORK_EST  CARPOOL_TO_WORK_MARG  PUBTRANS_TO_WORK_EST  PUBTRANS_TO_WORK_MARG  AUTOMOBILE_COUNT  BICYCLE_BY_AUTO_COUNT  BICYCLE_DEATH_BY_AUTO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_BY_AUTO_COUNT  PED_BY_AUTO_COUNT  PED_DEATH_BY_AUTO_COUNT  PED_SUSP_SERIOUS_INJ_BY_AUTO_COUNT  BICYCLE_SOLO_COUNT  BICYCLE_DEATH_SOLO_COUNT  BICYCLE_SUSP_SERIOUS_INJ_SOLO_COUNT  PED_SOLO_COUNT  PED_DEATH_SOLO_COUNT  PED_SUSP_SERIOUS_INJ_SOLO_COUNT  TOTAL_BICYCLE_BY_AUTO_COUNT  TOTAL_PED_BY_AUTO_COUNT  TOTAL_BICYCLE_SOLO_COUNT  TOTAL_PED_SOLO_COUNT
0    PA      42      101  PHILADELPHIA COUNTY    60000  01215531      PHILADELPHIA CITY      C5        F             67301     1596865             14172                940             54269               2031                  343702                     5207                55482                  3121                152058                   4179      4,379.000000             813.000000                     9.000000                               38.000000       3,562.000000               102.000000                          256.000000          706.000000                 11.000000                            30.000000    3,363.000000            100.000000                       271.000000                    47.000000               358.000000                 41.000000            371.000000
1    PA      42      003     ALLEGHENY COUNTY    61000  01214818        PITTSBURGH CITY      C5        F              2301      303207              1920                290             15005               1033                   80593                     2054                10191                   814                 23357                   1252        805.000000             111.000000                     1.000000                                5.000000         709.000000                 7.000000                           96.000000           80.000000                  2.000000                             9.000000      451.000000             19.000000                        50.000000                     6.000000               103.000000                 11.000000             69.000000
2    PA      42      027        CENTRE COUNTY    73808  01215063  STATE COLLEGE BOROUGH      C5        F             14410       40352               729                297              3963                402                    6711                      800                  484                   166                  1813                    392         82.000000              23.000000                     1.000000                                2.000000          60.000000                 0.000000                            3.000000           16.000000                  0.000000                             4.000000       48.000000              0.000000                         4.000000                     3.000000                 3.000000                  4.000000              4.000000
3    PA      42      049          ERIE COUNTY    24000  01215209              ERIE CITY      C5        F             25302       95536               329                191              2003                392                   28933                     1152                 5476                   668                  1482                    312        186.000000              58.000000                     1.000000                                5.000000         130.000000                 4.000000                           14.000000           64.000000                  0.000000                             3.000000      127.000000              5.000000                        18.000000                     6.000000                18.000000                  3.000000             23.000000
4    PA      42      027        CENTRE COUNTY    25624  01216123      FERGUSON TOWNSHIP      T1        A             14206       19236               259                116               335                142                    6363                      680                 1169                   336                   591                    211         12.000000               5.000000                     0.000000                                2.000000           5.000000                 0.000000                            0.000000            4.000000                  1.000000                             0.000000        3.000000              0.000000                         1.000000                     2.000000                 0.000000                  1.000000              1.000000

# IV. Export Dataframe

In [249]:
# Assuming 'data' is a subdirectory in your current working directory
folder_path = 'data/'
file_name = 'df_pa_tableau.csv'

# Combine the folder path and file name to create the full file path
full_file_path = folder_path + file_name

# Export dataframe to csv file
df_pa_tableau.to_csv(full_file_path, index=True)